<table>
<tr>
	<td><b>Ваше ім’я і прізвище*</b></td>
	<td><%= @contact.name %></td>
</tr>

<tr>
	<td><b>Компанія, яку Ви представляєте</b></td>
	<td><%= @contact.company %></td>
</tr>

<tr>
	<td><b>Ваша посада</b></td>
	<td><%= @contact.role %></td>
</tr>

<tr>
	<td><b>Ваш телефон</b></td>
	<td><%= @contact.phone %></td>
</tr>

<tr>
	<td><b>Ваш e-mail:</b></td>
	<td><%= @contact.email %></td>
</tr>

<tr>
	<td><b>Текст повідомлення</b></td>
	<td><%= @contact.question %></td>
</tr>
</table>


- Лист надіслано з веб-сайту "Марк" -